.basketContainer {
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  text-align: end;
  /* buttom: -40px; */
  /* padding-bottom: 1%; */
}
.basketQuantity {
  background-color: #2e5a62;
  height: 22px;
  width: 22px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  position: absolute;
  top: -16px;
  right: -5px;
  font-size: 12px;
  color: #ffff;
}
